body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 18px auto;
  padding: 6px;
}

.title {
  background: #e3f4ff;
  padding: 12px;
  margin: 8px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  margin: 8px;
  padding: 18px;
  font-size: 16px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  margin: 8px;
  font-size: 16px;
  text-align: center;
}

button {
  background: white;
  border: 12px solid white;
  margin: 4px auto;
  font-size: 16px;
  display: block;
}